body{
    margin: 0;
    padding: 0;
}
.el-input__inner{
    border-radius: 20px !important;
    background-color: #e13e3e !important;
    border: none !important;
    color: #e76464 !important;
}
.el-menu-item, .el-submenu__title {
    height: 40px !important;
    line-height: 40px !important;
}
.el-tabs__item{
    font-size: 25px !important;
}
.el-tabs__item.is-active{
    font-weight: 900;
    color: #373737 !important;
}
.el-tabs__active-bar{
    background-color: #ec4141 !important;
    height: 5px !important;
}
.el-tabs__nav-wrap::after{
    bottom: none;
  }
